@import url('https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

$textFont:'Avenir', sans-serif;
$primaryTextColor: #545F7D;
$secondaryTextColor: #213F7D;
$blueButton:#39CDCC;
$whiteButton:#FFFFFF;