
@import '../variables/Variables.scss';

@mixin SideBarText{
    color: $primaryTextColor;
    font-family: $textFont;
    font-size: 18px;
    font-weight: 600;
}



.table-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    gap:30px;
    
    .head{
        height: 100px;
        margin-top: 90px;
        font-family: $textFont;
        font-size: 18px;
        font-weight: 600;
        color: $secondaryTextColor;

    }
    .top-boxes{
        height: 250px;
        display:flex;
        gap:15px;
        margin-bottom: 30px;
        .box{
            height: 100%;
            width: 100%;
            background-color: $whiteText;
            padding-left: 30px;
            padding-top: 20px;
            border-radius: 4px;
            box-shadow: 0px 4px 6px 0px rgb(0,0,0,0.2);
            h2{
                font-size: 18px;
                font-family: $textFont;
                font-weight: 500;
                color: $primaryTextColor;
                margin: 20px 0px;
                
            }
            h1{
                font-size: 24px;
                font-family: $textFont;
                font-weight: 600;
                color: $secondaryTextColor;
            }

        }
    }
    .table-div {
        border: 1px solid #ddd;
        border-radius: 4px;
        // overflow-x: auto; // Allows horizontal scroll if table is too wide
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Adds subtle shadow for depth

        @media (max-width: 768px) {
            
        }
}

}