@import '../variables/Variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
    font-family: $textFont;
    width: 100%;
    height: 100vh;
    display: flex;
    .left-box{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fefefe;
        .images-container{
            display: flex;
            flex-direction: column;
            gap: 180px;
        }
    }

    .login-box{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        .form-container{
            display: flex;
            flex-direction: column;
            div{
                width: 447px;
                border:2px solid $primaryTextColor;
                height: 50px;
                border-radius: 5px;
                margin: 15px 0px;
                input{
                    width: 100%;
                    height: 100%;
                    padding-left: 20px;
                    color: $primaryTextColor;
                    
                }
            }
            .password{
                position: relative;
                p{
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 15px;
                    font-size: 18px;
                    font-weight: 600;
                    color: $blueButton;
                    font-family: $textFont;
                }
            }
        }
    }
}