@import '../variables/Variables.scss';

@mixin navText{
    color: $secondaryTextColor;
    font-family: $textFont;
}

nav{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $whiteText;
    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    
    .logo-container{
        margin-left: 30px;
        @media (max-width: 768px) {
            margin: 0;
        }
        div{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }
    }
    .search-container{
        background-color:$blueButton;
        display: flex;
        width: 600px;
        height: 50px;
        border: 1px solid $secondaryTextColor;
        border-radius: 8px;
        @media (max-width: 768px) {
            width: 100%;
            margin-top: 10px;
        }
        .input-div{
            width: 90%;
            height: 100%;
            outline: none;
            input{
                width: 100%;
                height: 100%;
                outline: none;
            }
        }
        .search-icon-div{
            padding: 10px;
            padding-left: 20px;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .right-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:20px;
        margin-right: 45px;
        @media (max-width: 768px) {
            margin: 0;
            flex-direction: column;
            gap: 10px;
        }
        h1{
            @include navText;
            border-bottom: 3px solid $secondaryTextColor;
            @media (max-width: 768px) {
                border: none;
            }
        }
        div{
            display: flex;
            h2{
                @include navText;
            }
        }
    }
}