

@import '../variables/Variables.scss';


@mixin sideBarAlignment{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    font-family: $worksans;
    color: $secondaryTextColor;
    font-weight: 400;
}

@mixin menuTitle{
    padding-left: 15px;
    font-size: 18px;
    font-family: $worksans;
    color: $primaryTextColor;
    font-weight: 500;
    margin: 10px 0px;
}

.sidebar-container{
    width: 20%;
    height: 1440px;
    background-color: $whiteText;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: $worksans;
    padding-bottom: 20px;
    box-shadow: 0px 2px 2px 0px rgb(0,0,0,0.3);
    .switch{
        width: 100%;
        height: 40px;
        gap: 8px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .sidebar-home-dashboard{
        @include sideBarAlignment;
        margin-top: 10px;
    }
    p{
        @include menuTitle;
    }
    .menu-container{
        width: 100%;
        height: 40px;
        border-left:5px solid $secondaryTextColor;
        @include sideBarAlignment;
    }
    .settings{
        margin-top: 10px;
    }
}
