@import '../variables/Variables.scss';

@mixin SideBarText{
    color: $primaryTextColor;
    font-family: $textFont;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-container{
    width: 20%;
    height: 1440px;
    background-color: brown;
}