@import "../variables/Variables.scss";

@mixin SideBarText {
    color: $primaryTextColor;
    font-family: $textFont;
    font-size: 14px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0px 20px 0px;
    font-size: 16px;
    text-align: justify;
    padding: 0px;
    thead {
        background-color: #f4f4f4;
        padding: auto;
        tr {
            th {
                padding: 20px 0px 20px 0px;
                font-weight: 700;
                &.status,
                &.actions {
                    padding-right: 30px;
                }
                .organization-icon-div {
                    position: relative;
                }
                &.phone-number,
                &.date-joined {
                    width: 150px;
                    padding-right: 0px;
                }
                &.organization {
                    width: 160px;
                    padding-left: 10px;
                    display: flex;
                    span {
                        cursor: pointer;
                    }
                }
                &.username {
                    padding-left: 10px;
                }
                &.email {
                    width: 300px;
                    padding-left: 10px;
                }
                @include SideBarText;
                font-size: 13px;
                img {
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
            .username {
                padding-left: 10px;
            }
        }
    }
    tbody {
        tr,
        td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            &.phone-number,
            &.date-joined,
            &.status,
            &.actions {
                padding-right: 40px;

                img {
                    cursor: pointer;
                }
            }
            &.actions {
                position: relative;
            }

            @include SideBarText;
            font-size: 16px;
            a{
                text-decoration: none;
                color: $primaryTextColor;
            }
        }
        
        .activate-btn {
            font-size: 20px;
            font-weight: 600;
            color: #39cd62;
            font-family: $worksans;
            text-align: center;
        }
        .pending-btn {
            font-size: 20px;
            font-weight: 600;
            color: #e9b200;
            font-family: $worksans;
            text-align: center;
        }
        .blacklist-btn {
            font-size: 20px;
            font-weight: 600;
            color: #e4033b;
            font-family: $worksans;
            text-align: center;
        }
        .inactive-btn {
            font-size: 20px;
            font-weight: 600;
            color: #545F7D;
            font-family: $worksans;
            text-align: center;
        }
    }
}

//     tbody {
//         tr {
//         &:nth-child(even) {
//             background-color: #f9f9f9;
//         }
//         &:hover {
//             background-color: #f1f1f1;
//         }
//         td {
//             padding: 10px;
//             border-bottom: 1px solid #ddd;
//             & img {
//             width: 16px;
//             height: 16px;
//             }
//         }
//         }
//     }
//     }
