

@import "../variables/Variables.scss";

@mixin headerDetailsText {
    color: $secondaryTextColor;
    font-family: $worksans;
    font-size: 20px;
    font-weight: 400;
}

@mixin subDetailsText {
    color: $primaryTextColor;
    font-family: $worksans;
    font-size: 18px;
    font-weight: 500;
}

@mixin DetailsText {
    color: $primaryTextColor;
    font-family: $worksans;
    font-size: 16px;
    font-weight: 400;
}

@mixin section-borders {
    content: ""; 
    position: absolute;
    bottom: 0;
    right: 75px;
    width: 90%; 
    height: 30px; 
    border-bottom: 2px solid $primaryTextColor; 
}

.side-details {
    width: 100%;
    // height: 1440px;
    // display: flex;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
        height: 1440px;
    }

    .details {
        background-color: $background;
        // width: 80%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        // 
        padding: 20px 15px;
        @media (min-width: 768px) {
            width: 80%;
            padding: 20px 30px 0px 30px;
        }
        

        .header-user-details {
            // height: 10%;
            // background-color: $background;
            // display: flex;
            height: auto;
            background-color: $background;
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
                height: 10%;
            }

            .arrow-user {
                // width: 20%;
                // background-color: $background;
                // padding-top: 10px;
                // padding-left: 5px;
                width: 100%;
                background-color: $background;
                padding-top: 10px;
                padding-left: 5px;
                @media (min-width: 768px) {
                    width: 20%;
                }

                .back-to-users {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    p {
                        font-size: 16px;
                        font-family: $worksans;
                        font-weight: 400;
                        color: $primaryTextColor;
                    }
                }

                h2 {
                    margin-top: 40px;
                    font-size: 24px;
                    font-weight: 400;
                    font-family: $worksans;
                    color: $secondaryTextColor;
                    @media (min-width: 768px) {
                        margin-top: 40px;
                    }
                }
            }

            .blacklist-activate {
                // background-color: $background;
                // width: 80%;
                // display: flex;
                // align-items: flex-end;
                // justify-content: flex-end;
                // padding-right: 30px;
                // padding-bottom: 30px;
                // gap: 10px;
                background-color: $background;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0;
                gap: 10px;
                @media (min-width: 768px) {
                    width: 80%;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding-right: 30px;
                    padding-bottom: 30px;
                }

                button {
                    // padding: 15px 45px;
                    padding: 10px 20px;
                    font-size: 14px;
                    @media (min-width: 768px) {
                        padding: 15px 45px;
                        font-size: 16px;
                    }
                }

                .blacklist-btn {
                    background-color: #ffffff;
                    font-size: 16px;
                    border-radius: 8px;
                    font-weight: 500;
                    font-family: $worksans;
                    color: $tertiaryTextColor;
                    border: 2px solid $tertiaryTextColor;
                }
                .activate-btn{
                    background-color: #ffffff;
                    font-size: 16px;
                    border-radius: 8px;
                    font-weight: 500;
                    font-family: $worksans;
                    color: $blueButton;
                    border: 2px solid $blueButton;
                }
            }
        }

        .user-profile-header {
            // height: 20%;
            // background-color: #ffffff;
            background-color: #ffffff;
            padding: 10px 0;

            .top {
                height: 85%;
                //display: flex;
                display: flex;
                // flex-direction: column;
                .avatar-username-container {
                    // width: 35%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // @media (min-width: 768px) {
                    //     height: 85%;
                    //     flex-direction: row;
                    // }
                    @media (min-width: 768px) {
                        width: 35%;
                    }

                    .avatar-username {
                        // display: flex;
                        // gap: 15px;
                        display: flex;
                        // flex-direction: column;
                        gap: 15px;

                        @media (min-width: 768px) {
                            flex-direction: row;
                        }

                        .username-id {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            h2 {
                                @include headerDetailsText;
                                font-size: 24px;
                                font-weight: 500;
                                margin-bottom: 10px;
                            }

                            p {
                                @include subDetailsText;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .tier-rating {
                    // width: 15%;
                    // height: 100%;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0;

                    @media (min-width: 768px) {
                        width: 15%;
                        padding: 0;
                    }

                    .tier-stars-div {
                        @include subDetailsText;
                        font-size: 14px;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                        }
                    }
                }

                .amount {
                    // width: 50%;
                    // height: 100%;
                    // display: flex;
                    // align-items: center;
                    // padding-left: 20px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0;

                    @media (min-width: 768px) {
                        width: 50%;
                        padding: 0 20px;
                        justify-content: flex-start;
                    }

                    div {
                        h2 {
                            @include headerDetailsText;
                            font-size: 40px;
                            font-weight: 500;
                            margin-bottom: 10px;
                            @media (min-width: 768px) {
                                font-size: 40px;
                            }
                        }

                        p {
                            @include subDetailsText;
                            font-size: 18px;
                            font-weight: 400;
                            @media (min-width: 768px) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .bottom {
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;

                div {

                    p {
                        font-family: $roboto;
                        font-size: 18px;
                        margin-top: 15px;
                        font-weight: 400;
                    }
                    .general{
                        border-bottom: 4px solid $blueButton;
                    }
                }
            }
        }

        .detailed-user-info {
            height: 65%;
            background-color: $whiteText;
            padding-left: 20px;
            box-shadow: 0px 6px 6px 0px rgb(0, 0, 0, 0.3);

            .first-detail-section {
                position: relative;
                padding: 20px 0;
                height: 25%;

                h1 {
                    height: 14%;
                    @include headerDetailsText;
                }

                .personal-info-div {
                    height: 86%;
                    display: flex;

                    .box-1 {
                        width: 20%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 50px;

                        .email {
                            padding-right: 20px;
                        }

                        h2 {
                            @include DetailsText;
                            margin-top: 20px;
                            margin-left: 20px;
                        }

                        p {
                            @include subDetailsText;
                            margin-left: 20px;
                        }
                    }
                    // .box-1:after {
                    //     content: ""; /* Empty content for pseudo-element */
                    //     position: absolute;
                    //     top: 40px; /* Top position */
                    //     right: 0; /* Right position */
                    //     width: 50px; /* Change width for shorter border */
                    //     height: 50%; /* Full height of the div */
                    //     border-right: 1px solid blue; /* Style your border here */
                    // }
                }
            }

            .first-detail-section:after {
                @include section-borders;
            }

            .second-detail-section {
                padding: 10px 0;
                position: relative;
                height: 25%;

                h1 {
                    height: 14%;
                    @include headerDetailsText;
                }

                .personal-info-div {
                    height: 86%;
                    display: flex;

                    .box-1 {
                        width: 20%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        h2 {
                            @include DetailsText;
                            margin-top: 20px;
                            margin-left: 20px;
                        }

                        p {
                            @include subDetailsText;
                            margin-left: 20px;
                        }
                    }

                    .last-box {
                        width: 40%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 50px;

                        h2 {
                            @include DetailsText;
                            margin-top: 20px;
                            margin-left: 20px;
                        }

                        p {
                            @include subDetailsText;
                            margin-left: 20px;
                        }
                    }
                }
            }

            .second-detail-section:after {
                @include section-borders;
            }

            .third-detail-section {
                padding: 20px 0;
                position: relative;
                height: 20%;

                h1 {
                    height: 14%;
                    @include headerDetailsText;
                }

                .personal-info-div {
                    height: 86%;
                    display: flex;

                    .box-1 {
                        width: 20%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 50px;

                        h2 {
                            @include DetailsText;
                            margin-top: 20px;
                            margin-left: 20px;
                        }

                        p {
                            @include subDetailsText;
                            margin-left: 20px;
                        }
                    }
                }
            }

            .third-detail-section:after {
                @include section-borders;
            }

            .fourth-detail-section {
                padding: 20px 0;
                position: relative;
                height: 25%;

                h1 {
                    height: 14%;
                    @include headerDetailsText;
                }

                .personal-info-div {
                    height: 86%;
                    display: flex;

                    .box-1 {
                        width: 20%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 50px;

                        h2 {
                            @include DetailsText;
                            margin-top: 20px;
                            margin-left: 20px;
                        }

                        p {
                            @include subDetailsText;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}
